body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #2c3e50, #4ca1af);
  color: white;
}

.title {
  text-align: center;
  margin: 10px 0;
}

.calendar-month {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  padding: 10px;
}

.calendar-day {
  background: rgba(255,255,255,0.1);
  border-radius: 12px;
  padding: 8px;
  min-height: 70px;
  cursor: pointer;
  transition: 0.2s;
}

.calendar-day:hover {
  background: rgba(255,255,255,0.2);
}

.active-day {
  border: 2px solid #00ffcc;
}

.day-number {
  font-size: 14px;
  font-weight: bold;
}

.mini-shift {
  font-size: 10px;
  background: #00ffcc;
  color: black;
  margin-top: 3px;
  border-radius: 5px;
  padding: 2px;
  text-align: left;
}

.day-details {
  background: white;
  color: black;
  margin: 10px;
  padding: 10px;
  border-radius: 12px;
}

.detail-card {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

.working {
  border:2px solid yellow;
  font-weight: bold;
  box-shadow: 0 0 8px yellow;
}